{% extends 'checklist/base.html' %}

{% block title %}My checklist{% endblock %}

{% block content %}
<div class="parent">
    {% csrf_token %}
    <div id="list_block" class="child">
        <div class="parent_dir" value="0">/</div>
        {% if list_directories %}
        <ul id="list">
            {% for directory in list_directories %}
                <li class="list" value="{{ directory.id }}">{{ directory.name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>User undefined!</h2>
        {% endif %}
        <div class="adding">
            <input type="text" id="dir_name" name="dir_name" value="" placeholder="Add directory...">
            <div id="add_dir" class="add_btn">+</div>
        </div>
        <div class="adding">
            <input type="text" id="checklist_name" name="checklist_name" value="" placeholder="Add checklist...">
            <div id="add_checklist" class="add_btn">+</div>
        </div>
        <div id="delete_mode" class="delete_mode" value="0">Set Delete Mode</div>
    </div>
    <div id="content" class="child">
    </div>
</div>
{% endblock %}