{% extends 'checklist/base.html' %}

{% block title %}My checklist{% endblock %}

{% block content %}
    <div id="list_block">
        <div id="parent_dir" value="0">/</div>
        {% if list_directories %}
        <ul id="list">
<!--            <li class="list" id="first" value="">/</li>-->
            {% for directory in list_directories %}
                <li class="list" value="{{ directory.id }}">{{ directory.name }}</li>
<!--                <li class="list" id="dir{{ directory.id }}" value="{{ directory.id }}">{{ directory.name }}</li>-->
            {% endfor %}
        </ul>
        {% else %}
        <h2>User undefined!</h2>
        {% endif %}
    </div>
    <div id="content">
    </div>
{% endblock %}