{% extends 'checklist/base.html' %}

{% block title %}My checklist{% endblock %}

{% block content %}
<div class="parent">
    {% csrf_token %}
    <div id="list_block" class="child">
    <h3>Directories:</h3>
    {% if content.parent_directory %}
        <div class="parent_dir" value="{{ content.parent_directory.id }}">{{ content.parent_directory.name }}</div>
    {% else %}
        <div class="parent_dir" value=""> </div>
    {% endif %}
        <ul id="list">
            {% if content.directories %}
                {% for directory in content.directories.values %}
                    <li class="list" value="{{ directory.id }}">{{ directory.name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <h4>Checklists:</h4>
        <ul id="check_list">
            {% if content.checklists %}
                {% for checklist in content.checklists.values %}
                    <li class="check_list" value="{{ checklist.id }}">{{ checklist.name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <div class="adding">
            <input type="text" id="dir_name" name="dir_name" value="" placeholder="Add directory...">
            <div id="add_dir" class="add_btn button">+</div>
        </div>
        <div class="adding">
            <input type="text" id="checklist_name" name="checklist_name" value="" placeholder="Add checklist...">
            <div id="add_checklist" class="add_btn button">+</div>
        </div>
        <div id="delete_mode" class="delete_mode" value="0">Set Delete Mode</div>
    </div>
    <div id="content" class="child">
    </div>
</div>
{% endblock %}