li {
    color: green;
}

.parent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.child {
    border: 2px solid black;
    border-radius: 5px;
    flex: 0 1 auto;
    margin: 10px;
    padding: 10px;
}

#list_block {
    flex: 1 1 auto;
}

#content {
    flex: 3 1 auto;
}

.parent_dir {
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #88ff88;
    width: 90%;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    display: block;
}

#list, #check_list {
    list-style: none;
    padding: 0;
}

/*#list > li {*/

.list {
    cursor: pointer;
    user-select: none;
    border: 1px solid lightblue;
    color: blue;
    background-color: #e7e7e7;
    border-radius: 3px;
    margin: 10px 0 10px 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.list:hover {
    background-color: #9cd9ed;
}

.check_list {
    cursor: pointer;
    user-select: none;
    border: 1px solid brown;
    color: blue;
    background-color: #ffff7b;
    border-radius: 3px;
    margin: 10px 0 10px 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.check_list:hover {
    background-color: yellow;
}

#parent_dir:hover {
    background-color: #56ff56;
}

.adding{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.adding > input {
    border: 2px solid black;
    border-radius: 5px;
    flex: 0 1 auto;
    margin: 10px;
    width: 70%;
    height: 20px;
}

.adding > .add_btn {
    border: 2px solid black;
    border-radius: 5px;
    flex: 0 1 auto;
    margin: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    background-color: #88ff88;
}

#delete_mode {
    cursor: pointer;
    user-select: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    display: block;
}

.delete_mode, .delete {
    background-color: #ff8e8e;
}

.normal_mode {
    background-color: #88ff88;
}

.hide {
    display: none;
}
