li {
    color: green;
}

.menu_img {
    width: 20px;
    height: 20px;
}

.parent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.child {
    border: 2px solid black;
    border-radius: 5px;
    flex: 0 1 auto;
    margin: 10px;
    padding: 10px;
}

#list_block {
    flex: 1 1 auto;
}

#content {
    flex: 3 1 auto;
}

.parent_dir {
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #baffba;
    width: 90%;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    display: block;
}

#list, #check_list {
    list-style: none;
    padding: 0;
}

.list {
    cursor: pointer;
    user-select: none;
    border: 1px solid lightblue;
    color: blue;
    background-color: #e7e7e7;
    border-radius: 3px;
    margin: 10px 0 10px 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.list:hover {
    background-color: #9cd9ed;
}

.check_list {
    cursor: pointer;
    user-select: none;
    border: 1px solid brown;
    color: blue;
    background-color: #ffff7b;
    border-radius: 3px;
    margin: 10px 0 10px 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.check_list:hover {
    background-color: yellow;
}

#parent_dir:hover {
    background-color: #56ff56;
}

.adding {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.adding > input, #add_input {
    border: 2px solid black;
    border-radius: 5px;
    flex: 0 1 auto;
    margin: 10px;
    width: 70%;
    height: 20px;
}

.adding > .add_btn {
    border: 2px solid black;
    border-radius: 5px;
    flex: 0 1 auto;
    margin: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    background-color: #baffba;
}

.button {
    border: 2px solid black;
    border-radius: 5px;
    flex: 0 1 auto;
    margin: 10px;
    height: 20px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    background-color: #baffba;
}

#checklist_data > div > label {
    cursor: pointer;
    user-select: none;
}

.active {
    border: 2px solid black;
    border-radius: 5px;
}

#delete_mode {
    cursor: pointer;
    user-select: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    display: block;
}

.delete_mode, .delete {
    background-color: #ff8e8e;
}

.normal_mode {
    background-color: #88ff88;
}

#editing_div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

#checklist_data > div {
    margin: 10px;
    height: 20px;
    text-align: left;
    font-size: 14pt;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
}

#edit_string_input {
    flex: 4 1 auto;
}

#save_string_btn {
    flex: 1 1 auto;
    margin: 0 10px 0 10px ;
}

.hide {
    display: none;
}

/* Класс контекстного меню: */
.context-menu {
    position: absolute; /* Задаем абсолютное позиционирование для нашего меню */
    display: none; /* Изначально не показываем его */
    background-color: #fff; /* Цвет фона меню */
    border: 1px solid #333; /* Граница */

    /* Немного красивостей. Добавляем тень для нашего меню, что бы отобразить его слегка выше остальных элементов страницы: */
    -moz-box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Параметры тени */
}

/* Добавляем стили для списка которые будет находиться внутри меню и, собственно, содержать его пункты: */
.context-menu ul { list-style: none; margin: 0; padding: 0; }

.context-menu ul li { margin: 0; padding: 0; background-color: #fff; display: block; }

/* Стили для ссылок пунктов меню: */
.context-menu ul li a { color: #333; text-decoration: none; font-size: 12px; display: block; padding: 5px; }

.context-menu ul li a:hover { background-color: #eee; }