{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Password reset complete</div>
            <div class="card-body">
                <p>Your password has been set.  You may go ahead and log in now.</p>
                <p><a href="{{ login_url }}">Log in</a></p>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}